/*
        colors
        bg #000
        orange #ff9501
        grey #a6a6a6
        white #fdfdfd
*/
.calc {
  margin: 50px auto; /*выравнивание калькулятора по середине страницы*/
  width: 300px;
  height: 500px;
  /*border: 1px solid#000;  (border - граница, solid - сплошной)*/
  border-radius: 20px; /*закругление углов*/
  background: #000; /*фон -черный*/
  color: #fff;
  /*front-family - семейство шрифтов*/
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 18px; /*отступ*/
  box-shadow: 4px 4px 4px #4f4f4f; /*бокс-тень*/
}

.calc-screen {
  height: 125px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 25px;
}

.calc-screen p {
  text-align: right;
  font-size: 4rem;
  margin: 0;
}

.buttons {
  display: grid; /*отображение: сетка*/
  /*сетки-шаблоны-области*/
  grid-template-areas:
    'ac plus-minus percent division'
    'seven eigth nine multiply'
    'four five six minus'
    'one two three plus'
    'zero zero dot equal';
  grid-gap: 7px; /*зазор сетки*/
  justify-items: center;
}

.btn {
  width: 60px; /*ширина*/
  height: 60px; /*высота*/
  background: #333;
  border-radius: 50%;
  text-align: center; /*выравнивание текста*/
  line-height: 60px; /*высота линии*/
  font-size: 1.5rem; /* размер шрифта*/
  cursor: pointer; /*указатель*/
  user-select: none; /*"выбор пользователя" - чтобы при повторном нажатии не было выделения*/
}

.btn.zero {
  grid-area: zero; /*сетка-область*/
  width: 100%;
  border-radius: 34px;
}

.btn:hover {
  filter: brightness(120%); /* фильтр яркости*/
}
.btn:active {
  filter: brightness(90%); /*яркость в нажатом состоянии*/
}
.btn.bg-grey {
  background-color: #a6a6a6;
}
.btn.bg-orange {
  background-color: #ff9501;
}
